.main-window{
    width: 100%;
    height: 100%;
}
.main-window .box{
    float: left;
    height: 100%;
}
.contacts{
    width: 30%;
    background-color: #e5f1fa;
}
.side-bar{
    background: #008cee;
    width: 6%;
}
.chat-box {
    width: 64%;
    background: #f8fbff;
}
        