.side-bar-ico .ico{
    background: blue;
    margin: 0.5rem auto;
    border-radius: 50%;
}
.side-bar-ico .userMenu{
    width: 2.4rem;
    height: 2.4rem;
    background: aquamarine;
}
.side-bar-ico .big{
    width: 2.2rem;
    height: 2.2rem;
    background: aquamarine;
}
.side-bar-ico .small{
    width: 1.6rem;
    height: 1.6rem;
    background: aquamarine;
    position: absolute;
    left: 12px;
}
.side-bar-ico .setting{
    bottom: 10px;
}
.side-bar-ico .more{
    bottom: 45px;
}
