.contacts-dialogue {
    
    li{
        height: 75px;
        border-bottom: 1px solid #dae2e7;
        .contacts-dialogue-box{
            padding: 15px 5px;
            height: 45px;
            width: 240px;
            display: block;
            div{
                float: left;
                height: 45px;
            }
            .user-img{
                width: 60px;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
            .text{
                width: 145px;
                p{
                    text-align: left;
                    line-height: 23px;
                    font-size: 13px;
                    font-family: arial, sans-serif;
                }
                .contacts-dialogue-item{
                    font-weight: bolder;
                }
                .last-message-text{
                    color: #b9bfcd;
                }
            }
            .time{
                width: 35px;
                height: 15px;
                font-size: 12px;
                line-height: 22px;
                color: #c8c5c6;
            }
        }
    }
    .chat-window{
        background-color: white;
    }
    .list{
        width: 250px;
        background: #e5f1fa;
        .search{
            height: 50px;
            background-image: url("../../../img/search.png");
            background-repeat: no-repeat;
            border-bottom: 1px solid #dae2e7;
            input{
                height: 25px;
                margin-top: 11px;
                width: 155px;
                border: none;
                outline: medium;
            }
        }
        ul{
            height: 100%;
            background: #e5f1fa;
            float: left;
        }
    }
}
